name: "Pull Request"

on:
  pull_request:
    branches:
      - 'main'
      - 'master'
      - 'DIC1-*'
      - 'IS-*'

jobs:
  ci-checks:
    runs-on: ubuntu-latest

    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Scan secrets with Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          config-path: .github/.gitleaks.toml

      - name: Dependency vulnerability check (OWASP)
        run: mvn org.owasp:dependency-check-maven:check -P cve

      - name: Run unit tests

            - name: SonarCloud Analysis
        uses: SonarSource/sonarcloud-github-action@master
        with:
          projectBaseDir: .
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Wait and check SonarCloud Quality Gate
        uses: sonarsource/sonarcloud-quality-gate-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}





        run: mvn clean test -P ut

      - name: SonarCloud Analysis
        uses: SonarSource/sonarcloud-github-action@master
        with:
          projectBaseDir: .
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Wait and check SonarCloud Quality Gate
        uses: sonarsource/sonarcloud-quality-gate-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
